.calendar-wrapper {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.calendar-year {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: rgb(132, 164, 104);
  border: 1px solid #c5cec1;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: #dbe7dc;

  &:hover {
    background-color: rgb(42, 64, 24);
    color: #ffffff;
    cursor: pointer;
  }
}

.year {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;

}
