<div class="main-wrapper">
  <h1>Monthly Calendar</h1>
  <app-calendar (selectedDates)="datesSelected($event)"></app-calendar>
  @if(toDate() !== null && fromDate() !== null) {
  <div class="selected">
    Selected Dates: <span>{{toDate() | date: 'MMM d'}} - {{fromDate() | date: 'd, yyyy'}}</span>
  </div>
  }
</div>


<div class="attribute"><a target="_blank" href="https://icons8.com/icon/60671/forward">Forward</a> icon by <a
    target="_blank" href="https://icons8.com">Icons8</a></div>
<div class="attribute"><a target="_blank" href="https://icons8.com/icon/60636/back">Back</a> icon by <a target="_blank"
    href="https://icons8.com">Icons8</a></div>